$container-wrapper-sm-down: 5%;
$container-wrapper-sm-up: 10%;
$color: #FFFFFF;
$background-color: #0E1414;
$font-stack: 'Open Sans', sans-serif;
$font-size-1: 18px;
$bp-xs-below: "(max-width: 576px)";
$bp-sm-up: "(min-width: 768px)";

